<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <style>
      * {
        margin: 0;
        padding: 0;
      }
      body {
        display: flex;
        flex-direction: column;
        height: 100vh;
      }
      header {
        text-align: center;
        border-bottom:thin solid #ddd;
        max-height: 70px;
        padding: 10px;
      }
      .content {
        display: block;
        flex: 1;
      }
      .form-control {
        background-color: #fafafa;
        padding: 10px;
        display: flex;
        margin: 10px;
      }
      .label {
        font-weight: 800;
      }
      footer {
        padding: 10px;
        max-height: 70px;
        border-top:thin solid #ddd;
        text-align: center;
      }
    </style>
  </head>
  <body>
    <header>
      <h2>Cadastro de <%= nome %></h2>
    </header>
    <div class="content">
      <div class="form-control">
        <div class="label">Data de Nascimento:</div>
        <%= datanascimento %>
      </div>
      <div class="form-control">
        <div class="label">Email:</div>
        <%= email %>
      </div>
      <div class="form-control">
        <div class="label">Sexo:</div>
        <%= sexo %>
      </div>
      <div class="form-control">
        <div class="label">Profissão:</div>
        <%= profissao %>
      </div>
      <div class="form-control">
        <div class="label">Estado civil</div>
        <%= estadocivil %>
      </div>
    </div>
    <footer>Esse é o meu footer</footer>
  </body>
</html>
